---
layout: default
title: Contact
---

{% include head.html %}

{% include standard-navbar.html %}

<div class="team-clean" style="margin-top: 51px;">
    <div class="container">
        <div class="intro"></div>
        <div class="row people" style="padding-bottom: 0px;">
            <div class="col-md-6 col-lg-4 col-xl-6 item"><img class="rounded-circle" src="assets/img/onepwaa_13%20(1).png">
                <h3 class="name">OnePwaa</h3>
                <p class="description"><strong>OnePwaa&nbsp;</strong>is an international nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community -- both socially and academically.
                    We do<strong>&nbsp;</strong>this by lowering scholars’ barriers of entry to the concept and practice of collaborative learning or education, including but not limited to scholarship programs, debate camps, and online guides. We
                    offer these services to individuals and organizations inside and outside the WSC community—regardless of race, religion, socioeconomic status, and sexual orientation--undoubtedly committed to reducing systemic disadvantages in
                    education.<br></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-6 item"><img class="rounded-circle" src="assets/img/wsclub_15.png">
                <h3 class="name">The World Scholars Club</h3>
                <p class="description"><strong>World Scholar's Club&nbsp;</strong>is another WSC organisation that's all about community. Inspired by the community that World Scholar's Cup creates, Lexi Prichard wanted to create a space for scholars from around the world
                    to connect, learn, and make friends - even if they aren't at a round together.&nbsp;&nbsp;Founded in 2017, and now run by the OnePwaa scholars.&nbsp;World Scholar's Club is here for you to study, learn, and meet others! Featuring
                    many bite sized analyses of the curriculum, we aim to provide scholars around the world with the chance to grow and learn as a community. Follow the World Scholars Club on Instagram @<br></p>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark" id="mainNav" style="width: 100% !important;">
    <div class="container"><a class="js-scroll-trigger" href="#about" style="height: 40px;"><img src="assets/img/onepwaa-logo-black.png" style="padding-bottom: 8px;padding-top: 8px;width: 100px;"></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler border rounded-0 navbar-toggler-right"
            type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color: rgba(255,255,255,0.83);margin-top: 9px;"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about" style="height: 40px;padding-top: 12px;padding-bottom: 4px;">Knowledge</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about" style="height: 40px;padding-top: 12px;padding-bottom: 4px;">STRATEGY</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about" style="height: 40px;padding-top: 12px;padding-bottom: 4px;">OUR TEAM</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-top: 12px;padding-bottom: 4px;">HUMANS OF WSC</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-top: 12px;padding-bottom: 4px;">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title">Musician</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}