---
layout: default
title: Contact
---

{% include head.html %}

{% include standard-navbar.html %}

<div class="team-clean" style="margin-top: 51px;">
    <div class="container">
        <div class="intro"></div>
        <div class="row people" style="padding-bottom: 0px;">
            <div class="col-md-6 col-lg-4 col-xl-6 item"><img class="rounded-circle" src="assets/img/onepwaa_13%20(1).png">
                <h3 class="name">OnePwaa</h3>
                <p class="description"><strong>OnePwaa&nbsp;</strong>is an international nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community -- both socially and academically.
                    We do<strong>&nbsp;</strong>this by lowering scholars’ barriers of entry to the concept and practice of collaborative learning or education, including but not limited to scholarship programs, debate camps, and online guides. We
                    offer these services to individuals and organizations inside and outside the WSC community—regardless of race, religion, socioeconomic status, and sexual orientation--undoubtedly committed to reducing systemic disadvantages in
                    education.<br></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-6 item"><img class="rounded-circle" src="assets/img/wsclub_15.png">
                <h3 class="name">The World Scholars Club</h3>
                <p class="description"><strong>World Scholar's Club&nbsp;</strong>is another WSC organisation that's all about community. Inspired by the community that World Scholar's Cup creates, Lexi Prichard wanted to create a space for scholars from around the world
                    to connect, learn, and make friends - even if they aren't at a round together.&nbsp;&nbsp;Founded in 2017, and now run by the OnePwaa scholars.&nbsp;World Scholar's Club is here for you to study, learn, and meet others! Featuring
                    many bite sized analyses of the curriculum, we aim to provide scholars around the world with the chance to grow and learn as a community. Follow the @worldscholarsclub on Instagram.<br></p>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Directors</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/darren-tan_13.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Darren Tan</h3>
                        <p class="title">Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/2-sarahswea-1_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sarah Swea</h3>
                        <p class="title">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/amy-mance_7.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Amy Mance</h3>
                        <p class="title">COO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/mr-darren-lim_7.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Mr. Darren Lim</h3>
                        <p class="title">Faculty Advisor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/5-jackalynso_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Jackalyn So</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/9-jeremy-flics-crop_4.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Jeremy Flics</h3>
                        <p class="title">ASA</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/6-joshuang_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Joshua Ng</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/7-rishikaarora_1.jpeg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Rishika Arora</h3>
                        <p class="title">WSC Moments</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/8-stephanieyeung_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Stephanie Yeung</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/9-williamting_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">William Ting</h3>
                        <p class="title">WSC Memes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/11-charmaineng_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Charmaine Ng</h3>
                        <p class="title">Director of Social Stuff</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/12-rhowanho_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Rhowan Ho</h3>
                        <p class="title">Director of Design</p>
                    </div>
                </div>
            </div>
             <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/14-charliegoldsworthy_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Charlie Goldsworthy</h3>
                        <p class="title">Director of Web Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/13-harisrizwan_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Haris Rizwan</h3>
                        <p class="title">Director of Scholars</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/15-ryanwong_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ryan Wong</h3>
                        <p class="title">Director of Writers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Bloggers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-aliceyang-1_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Alice Yang</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-billemeterio_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Bill Emeterio</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-daisygambles_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Daisy Gambles</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-manahilawan-1_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Manahil Awan</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-maryrose_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Mary Rose</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-tylerwilliams-1_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Tyler Williams</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Designers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-ansonmak.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Anson Mak</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-huiyenlem.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Hui Yen Lem</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-hyniggan.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Hyning Gan</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-jacqlee.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Jacq Lee</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-marielledemenezes.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Marielle de Menezes</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-sahanakaur.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sahana Kaur</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Web Developers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-sampoder.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sam Poder</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/web-elainezhu.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Elaine Zhu</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/web-gabriellasally.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Gabriella Sally</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Scholars</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-danielpham-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Daniel Pham</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-ethanng.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ethan Ng</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-isabelpieterson.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Isabel Pieterson</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-janetjiang-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Janet Jiang</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-manyasiri-pear-chotbunwong.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Manyasiri (Pear) Chotbunwong</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-rafirahman.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Rafi Rahman</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-sophiagiblett-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sophia Giblett</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-stephaniekomala-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Stephanie Komala</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-youranluo.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Youran Luo</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Writers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-aparnakasibhatla.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Aparna Kasibhatla</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-architulsian.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Archi Tulsian</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-ashleeal-khair.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ashlee Al-Khair</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-charlenehui.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Charlene Hui</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-savannahjames.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Savannah James</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-terryguo.jpeg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Terry Guo</h3>
                        <p class="title"></p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
