---
layout: default
title: Contact
---
<head>
{% include head.html %}

<title>About OnePwaa | Accessible WSC Resources & Services</title>
<meta name="twitter:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta property="og:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="OnePwaa is a nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community.">
<meta property="og:image" content="assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="OnePwaa is a nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community.">
<meta property="og:type" content="website">
<meta name="twitter:title" content="About OnePwaa | Accessible WSC Resources &amp; Services">
<meta name="twitter:card" content="summary_large_image">


</head>
{% include standard-navbar.html %}

<header class="masthead text-center text-white d-flex" style="background-image:url('https://cloud-4er9w7ha5.vercel.app/0received_2675129871291122549667505451911559.jpeg');">
    <div class="container my-auto" style="margin-top: 100px !important;">
        <div class="row">
            <div class="col-lg-10 d-xl-flex mx-auto justify-content-xl-start" style="margin-left: 0px !important;"><h1 class="text-uppercase" id ="this-is" style="font-family: Montserrat, sans-serif; text-align: left; font-size: 10vh">

<style>@media only screen and (max-width: 700px) {
#this-is {
font-size: 8vh!important
}
}
</style>

this is <br><strong> Our Story</strong> 


</div>
        </div>
            
        <div class="row">
            
            <div class="col-lg-10 d-xl-flex mx-auto justify-content-xl-start" style="margin-left: 5px !important;">
                
                <h4 class="text-uppercase" style="font-family: Montserrat, sans-serif; text-align: left; font-size: 20px"> OnePwaa was born from the passion <br> of a group of scholars around the world. </h4>

                <hr>
                
            </div>
        </div>
    </div>
</header>

<div class="team-clean" style="margin-top: 20px;">
    <div class="container">
        <div class="intro"></div>
        <div class="row people" style="padding-bottom: 0px;">
            <div class="col-md-6 col-lg-4 col-xl-6 item">
                <p class="description" style="font-size: 18px;">
                    OnePwaa is an international nonprofit dedicated to improving access to education among schoolchildren. Our mandate is to advocate for the concept and practice of collaborative learning principally through the World Scholar’s Cup (WSC) and other educational programs. We offer resources and services including but not limited to scholarship programs, debate camps, and study guides. We pledge to reinvest all profits obtained into the education of underprivileged communities internationally.
                    
                    </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-6 item">
               
                <p class="description" style="font-size: 18px;"> We pledge to offer our resources and services to all people—regardless of ethnicity, race, religion, socioeconomic status, gender identity and sexual orientation—undoubtedly committed to reducing systemic disadvantages in education.</p>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Where our Alumni are</h2>
        </div>
        <div class="row people" style = "justify-content: center;">
                <img src="https://i.imgur.com/WeEqio6.png" height="140px">
                <img src="https://www.ingsa.org/wp-content/uploads/2020/03/imperial_college_logo.jpg" height="140px" style = "margin-left:30px">                                                      
                <img src="https://i.imgur.com/omx0qBN.png" height="140px" style = "margin-left:30px">
                <img src="https://i.imgur.com/FULyCjD.png" height="140px" style = "margin-left:30px">  
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e4/Dartmouth_College_shield.svg/1200px-Dartmouth_College_shield.svg.png" height="140px" style = "margin-left:30px">   
        </div>
    </div>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Directors</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/darren-tan_13.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Darren Tan</h3>
                        <p class="title">Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/2-sarahswea-1_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sarah Swea</h3>
                        <p class="title">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/amy-mance_7.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Amy Mance</h3>
                        <p class="title">COO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/mr-darren-lim_7.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Mr. Darren Lim</h3>
                        <p class="title">Faculty Advisor</p>
                    </div>
                </div>
            </div>         
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/11-charmaineng_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Charmaine Ng</h3>
                        <p class="title">Director of Social Stuff</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/12-rhowanho_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Rhowan Ho</h3>
                        <p class="title">Director of Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/web-elainezhu.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Elaine Zhu</h3>
                        <p class="title">Director of Web Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/13-harisrizwan_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Haris Rizwan</h3>
                        <p class="title">Director of Scholars</p>
                    </div>
                </div>
            </div>
              <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-stephaniekomala-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Stephanie Komala</h3>
                        <p class="title">Director of Scholars</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/15-ryanwong_1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ryan Wong</h3>
                        <p class="title">Director of Writers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Bloggers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-aliceyang-1_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Alice Yang</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
             <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-savannahjames.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Savannah James</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-tylerwilliams-1_2.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Tyler Williams</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-adina-junaid.jpeg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Adina Junaid</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-kenneth-julio.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Kenneth Julio</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-roshni-ruben.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Roshni Ruben</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Designers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-ansonmak.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Anson Mak</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-huiyenlem.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Hui Yen Lim</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-hyniggan.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Hyning Gan</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-jacqlee.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Jacq Lee</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-marielledemenezes.png)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Marielle de Menezes</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-sahanakaur.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sahana Kaur</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Web Designers</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/designer-sampoder.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sam Poder</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/web-gabriellasally.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Gabriella Sally</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Scholars</h2>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-danielpham-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Daniel Pham</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-ethanng.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Ethan Ng</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-isabelpieterson.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Isabel Pieterson</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-janetjiang-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Janet Jiang</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-manyasiri-pear-chotbunwong.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Manyasiri (Pear) Chotbunwong</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-rafirahman.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Rafi Rahman</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-sophiagiblett-1.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sophia Giblett</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-arsh-shrivastava.jpeg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Arsh Shrivastava</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/blogger-sahara-sushi.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Sarah Shiu</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/scholar-manas-kapur.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Manas Kapur</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Writers</h2>
        </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(/assets/img/writer-charlenehui.jpg)">
                    <div class="cover" style="padding-top: 100px;">
                        <h3 class="name">Charlene Hui</h3>
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
