---
layout: default
title: Contact
---

{% include head.html %}

{% include standard-navbar.html %}

<div style = "margin-top: 94px;"></div>

<div style = "margin-left: 20%; margin-right: 20%; text-align: left;">

    <h3>Hi! Thanks for wanting to get in touch.</h3>

    <BR>

    <h5>
        We receive a lot of messages so to save us all time, please ensure your query isn't answered by one of the following.
    </h5>

    <BR>

    <p>
        <strong>How do I navigate the site?</strong>

        On desktop, the top bar will allow you quick access to our primary pages, while clicking on the OnePwaa Logo will bring you home.
        
        On mobile, tapping on the three lines on the top right corner will bring down the drop down menu, allowing you quick access to our primary pages, while clicking on the OnePwaa Logo will bring you to the home page.

    </p>

    <BR>

    <p>
        <strong>Where are the other study guides?</strong>

        As our study guides are a collaborative effort, the process of researching accurate information, compiling it, and ultimately releasing it is a very lengthy one. We do this in order to ensure that the study guides we produce are of the highest quality.  As always, we encourage you to do your own extended research and reading  to increase the breadth and depth of your knowledge and understanding, rather than solely rely on our study guides. All of our study guides as well as other learning resources are <a href = "/knowledge.html">here</a>.

    </p>

    <BR>

    <p>
        <strong>Can I join OnePwaa?</strong>

        We're always on the lookout for more members. After all, that's what keeps our organisation running. Because we have such a large number of applications, we have specific recruitment rounds. We will likely be opening one up very soon so stay tuned!

    </p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVGDlVK8_j4de8iDi3yDEhT6lIPbtfuPbfYfVmevDCXyCRfw/viewform?embedded=true" width="75%" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>

{% include footer.html %}