---
layout: default
title: Contact
---
<head>
{% include head.html %}
<title>Contact OnePwaa | Accessible WSC Resources & Services</title>
<meta name="twitter:image" content="assets/img/fullsize/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="OnePwaa is a nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community.">
<meta property="og:image" content="assets/img/fullsize/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="OnePwaa is a nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community.">
<meta property="og:type" content="website">
<meta name="twitter:title" content="Contact OnePwaa | Accessible WSC Resources &amp; Services">
<meta name="twitter:card" content="summary_large_image">

</head>
{% include standard-navbar.html %}

<div style = "margin-top: 94px;"></div>

<div style = "margin-left: 20%; margin-right: 20%; text-align: left;">

    <h3>Hi! Thanks for wanting to get in touch.</h3>

    <BR>

    <h5>
        We receive a lot of messages so to save us all time, please ensure your query isn't answered by one of the following.
    </h5>

    <BR>

    <p>
        <strong>How do I navigate the site?</strong>

        On desktop, the top bar will allow you quick access to our primary pages, while clicking on the OnePwaa Logo will bring you home.
        
        On mobile, tapping on the three lines on the top right corner will bring down the drop down menu, allowing you quick access to our primary pages, while clicking on our Logo will bring you to the home page.

    </p>

    

    <p>
        <strong>Where are the other study guides?</strong>

        As our study guides are a collaborative effort, the process of researching accurate information, compiling it, and ultimately releasing it is a very lengthy one. We do this in order to ensure that the study guides we produce are of the highest quality.  As always, we encourage you to do your own extended research and reading  to increase the breadth and depth of your knowledge and understanding, rather than solely rely on our study guides. All of our study guides as well as other learning resources are <a href = "/knowledge.html">here</a>.

    </p>

    

    <p>
        <strong>Can I join OnePwaa?</strong>

        We're always on the lookout for more members. After all, that's what keeps our organisation running. Because we have such a large number of applications, we have specific recruitment rounds. We will likely be opening one up very soon so stay tuned!

    </p>

    <p>
        <strong>If we were unable to answer your question,</strong>

        please chose the option below that best suits your reason for contact and fill out the form. Thanks and look forward to hearing from you!

    </p>

    <br>
    <p style = "margin-right: 10px; margin-bottom: 10px;">
    <button class="btn" style="background-color: #212529; border-color: #212529; color: #fff; margin-bottom: 10px; margin-right: 10px;" type="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdVGDlVK8_j4de8iDi3yDEhT6lIPbtfuPbfYfVmevDCXyCRfw/viewform" style = "color: #fff; padding-left: 5px; padding-right: 5px;">General Enquiries</a></button>

    <button class="btn" style="background-color: #212529; border-color: #212529; color: #fff; margin-bottom: 10px; margin-right: 10px;" type="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc_0R1fDoPgC5yB4XI_rtxtWD96bmcEAFSn5aojXtdV5Hr6ew/viewform" style = "color: #fff; padding-left: 5px; padding-right: 5px;">Feedback</a></button>

    <button class="btn" style="background-color: #212529; border-color: #212529; color: #fff; margin-bottom: 10px; margin-right: 10px;" type="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf_BSCl0VCdiVG34us6IxkG7AOLRnyd0k8j_mq_Du1QMbQzOg/viewform" style = "color: #fff; padding-left: 5px; padding-right: 5px;">Bug Report</a></button>
    </p>
    <br>
</div>

{% include footer.html %}