---
layout: default
title: Humans of WSC
---
<head>
{% include head.html %}
<title>Humans of World Scholar's Cup | OnePwaa</title>
<meta name="twitter:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="Explore the stories of scholars from all over the world.">
<meta property="og:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="Explore the stories of scholars from all over the world.">
<meta property="og:type" content="website">
<meta name="twitter:title" content="Humans of World Scholar's Cup | OnePwaa">
<meta name="twitter:card" content="summary_large_image">
</head>
{% include standard-navbar.html %}



    <section class="text-dark bg-white" id="about" style="padding: 64px 0px;">
        <div class="container" style="margin-top: 30px;">
            <div class="row no-gutters">
                {% for post in site.posts %}

                {% if post.topic == "humans-of-wsc" %}

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 10px;padding-top: 10px;">

                    
                    
                    <a href="{{ post.url }}">
                        <img class="img-fluid" src="{{ post.image }}">
    
                        <center>
    
                        <div class="project-category" style = "padding-top: 15px;">
                            
                            <span style = "color: #343a40">{{ post.date | date: "%B %e, %Y" }}</span>
        
                        </div>
            
                        <div class="project-name" style = "padding-top: 10px;">
                
                            <span style = "color: #343a40"><strong>{{ post.title }}</strong></span>
        
                        </div>
                        
                        </center>
                        </a>
                    

                </div>

                {% endif %}
                {% endfor %}
                
            
            </div>
            
        </div>
            
        </div>
    </section>


{% include footer.html %}