---
layout: default
title: Humans of WSC
---

{% include head.html %}

{% include standard-navbar.html %}



    <section class="text-dark bg-white" id="about" style="padding: 64px 0px;">
        <div class="container" style="margin-top: 30px;">
            <div class="row no-gutters popup-gallery">
                {% for post in site.posts %}

                {% if post.topic == "humans-of-wsc" %}

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 10px;padding-top: 10px;">

                    
                    
                    <a class="portfolio-box" href="{{ post.url }}">
                        
                    <img class="img-fluid" src="{{ post.image }}">
                    
                        <div class="portfolio-box-caption" style="background-color: rgba(35,33,32,0.9);">
                        
                            <div class="portfolio-box-caption-content">
                    
                                <div class="project-name">
                        
                                    <span>View Story</span>
                
                                </div>
                            </div>
                        </div>
                    </a>

                    <center>

                    <div class="project-category" style = "padding-top: 15px;">
                        
                        <span>{{ post.date | date: "%B %e, %Y" }}</span>
    
                    </div>
        
                    <div class="project-name" style = "padding-top: 10px;">
            
                        <span><strong>{{ post.title }}</strong></span>
    
                    </div>
                    
                    </center>
                    

                </div>

                {% endif %}
                {% endfor %}
                
            
            </div>
            
        </div>
            
        </div>
    </section>


{% include footer.html %}