---
layout: default
title: Knowledge
---
<head>
{% include head.html %}
<title>Knowledge Resources | OnePwaa</title>
<meta name="twitter:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="Explore this year's World Scholar's Cup curriculum with OnePwaa's experienced scholars.">
<meta property="og:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="Explore this year's World Scholar's Cup curriculum with OnePwaa's experienced scholars.">
<meta property="og:type" content="website">
<meta name="twitter:title" content="Knowledge Resources | OnePwaa">
<meta name="twitter:card" content="summary_large_image">
</head>
</head>
{% include standard-navbar.html %}



    <section class="text-dark bg-white" id="about" style="padding: 64px 0px;">
        <div class="container" style="margin-top: 30px;">

            <h3 id = "guides" style = "padding-left: 10px;">Study Guides</h3>

            <i style = "padding-left: 10px;">Looking for Deep Dives? Jump to <a href = "#deep-dives">here</a>.</i>

            <div class="row no-gutters">



                {% for post in site.posts %}

                {% if post.topic == "study-guide" %}

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 10px;padding-top: 10px;">

                    
                    
                    
                    <a href="{{ post.url }}">
                    <img class="img-fluid" src="{{ post.image }}">

                    <center>

                    <div class="project-category" style = "padding-top: 15px;">
                        
                        <span style = "color: #343a40">{{ post.date | date: "%B %e, %Y" }}</span>
    
                    </div>
        
                    <div class="project-name" style = "padding-top: 10px;">
            
                        <span style = "color: #343a40"><strong>{{ post.title }}</strong></span>
    
                    </div>
                    
                    </center>
                    </a>
                    

                </div>

                {% endif %}
                {% endfor %}
                
            
            </div>

            <br>

            <h3 id = "deep-dives" style = "padding-left: 10px;">Deep Dives</h3>

            <i style = "padding-left: 10px;">Looking for Study Guides? Jump to <a href = "#guides">here</a>.</i>

            <div class="row no-gutters">



                {% for post in site.posts %}

                {% if post.topic == "deep-dives" %}

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 10px;padding-top: 10px;">

                    
                    
                    
                    <a href="{{ post.url }}">
                    <img class="img-fluid" src="{{ post.image }}">

                    <center>

                    <div class="project-category" style = "padding-top: 15px;">
                        
                        <span style = "color: #343a40">{{ post.date | date: "%B %e, %Y" }}</span>
    
                    </div>
        
                    <div class="project-name" style = "padding-top: 10px;">
            
                        <span style = "color: #343a40"><strong>{{ post.title }}</strong></span>
    
                    </div>
                    
                    </center>
                    </a>
                    

                </div>

                {% endif %}
                {% endfor %}
                
            
            </div>
            
        </div>
            
        </div>
    </section>


{% include footer.html %}