---
layout: default
title: Strategy
---
<head>
{% include head.html %}
<title>Strategy | OnePwaa</title>
<meta name="twitter:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="Learn strategies to ace all of the World Scholar's Cup events from OnePwaa's experienced scholars.">
<meta property="og:image" content="/assets/img/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="Learn strategies to ace all of the World Scholar's Cup events from OnePwaa's experienced scholars.">
<meta property="og:type" content="website">
<meta name="twitter:title" content="Strategy | OnePwaa">
<meta name="twitter:card" content="summary_large_image">
</head>
{% include standard-navbar.html %}

<style>
    .notif {
      padding: 20px;
      background-color: #49eb74;
      color: white;
      margin-bottom: 15px;
      max-width: 600px;
      margin-left: 10px;
    }
</style> 

    <section class="text-dark bg-white" id="about" style="padding: 64px 0px;">
        <div class="container" style="margin-top: 30px;">
            <div class="notif">
              Looking for some awesome strategy content? Check out the Pwaachive <a href = "http://pwaachive.onepwaa.org">here</a>!
            </div>
            <div class="row no-gutters">
                {% for post in site.posts %}

                {% if post.topic == "strategy" %}

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 10px;padding-top: 10px;">

                    
                    
                    <a href="{{ post.url }}">
                        <img class="img-fluid" src="{{ post.image }}">
    
                        <center>
            
                        <div class="project-name" style = "padding-top: 10px;">
                
                            <span style = "color: #343a40 !important"><strong>{{ post.title }}</strong></span>
        
                        </div>
                        
                        </center>
                        </a>
                    

                </div>

                {% endif %}
                {% endfor %}
                
            
            </div>
            
        </div>
            
        </div>
    </section>


{% include footer.html %}
