<div class="footer-dark" style="font-family: Montserrat, sans-serif;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="/knowledge.html">Knowledge</a></li>
                        <li><a href="/strategy.html">Strategy</a></li>
                        <li><a href="/humans-of-wsc.html">Humans of WSC</a></li> 
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Team</a></li>
                        <li><a href="https://scholarscup.org">About WSC</a></li>
                        <li><a href="/contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <style>
                    @media only screen and (max-width: 1000px) {
                        #about-one-pwaa {
                            display: none;
                            }
                        }
                    
                </style>
                
                <div class="col-md-6 item text" id = "about-one-pwaa">
                    <h3>About OnePwaa</h3>
                    <p>OnePwaa is an international nonprofit organisation ensuring that the World Scholar's Cup community has access to resources and services that benefit individuals within the community.&nbsp;</p>
                </div>
                <div class="col item social"><a href="https://facebook.com/onepwaa"><i class="icon ion-social-facebook"></i></a><a href="https://instagram.com/onepwaa"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">OnePwaa © 2020</p>
        </div>
    </footer>
</div>

<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/creative.js"></script>