.text-primary {
  color: black !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #fff !important;
}

a, a:hover {
  color: #000000;
}

