<head>

    {% include head.html %}

    <title>{{ page.title }}</title>

    <meta name="twitter:image" content="{{ page.image }}">

    <meta name="twitter:description" content="A World Scholar's Cup Resource by OnePwaa.">

    <meta property="og:image" content="{{ page.image }}">

    <meta name="description" content="A World Scholar's Cup Resource by OnePwaa.">

    <meta property="og:type" content="article">

    <meta name="twitter:title" content="{{ page.title }}">

    <meta name="twitter:card" content="summary_large_image">

</head>

<body>

    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RRQ57Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- End Google Tag Manager (noscript) -->

    {% include standard-navbar.html %}

    <div style="margin-top: 94px;"></div>

    <div style="margin-left: 20%; margin-right: 20%; text-align: left;">

        {{ content }}

        <button onclick="goBack()">Go Back</button>
    </div>

    <script>
        function goBack() {

            window.history.back();

        }
    </script>

    <br> {% include footer.html %}

</body>