---
layout: default
---
<head>
{% include head.html %}
<title> {{ post.title }} | OnePwaa</title>
<meta name="twitter:image" content="{{ post.image }}">
<meta name="twitter:description" content="A World Scholar's Cup Resource by OnePwaa.">
<meta property="og:image" content="{{ post.image }}">
<meta name="description" content="A World Scholar's Cup Resource by OnePwaa.">
<meta property="og:type" content="article">
<meta name="twitter:title" content="{{ post.title }} | OnePwaa">
<meta name="twitter:card" content="summary_large_image">
</head>

<div style = "margin-top: 94px;"></div>

<div style = "margin-left: 20%; margin-right: 20%; text-align: left;">

{{ content }}

</div>


{% include footer.html %}

