<head>
{% include head.html %}
<title>{{ page.title }} | OnePwaa</title>
<meta name="twitter:image" content="/assets/img/fullsize/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="twitter:description" content="A World Scholar's Cup Resource by OnePwaa.">
<meta property="og:image" content="/assets/img/fullsize/88225255_10111594243599681_3889394766894333952_o.jpg">
<meta name="description" content="A World Scholar's Cup Resource by OnePwaa.">
<meta property="og:type" content="article">
<meta name="twitter:title" content="{{ page.title }} | OnePwaa">
<meta name="twitter:card" content="summary_large_image">
</head>
<body>
    {% include standard-navbar.html %}
<div style = "margin-top: 94px;"></div>

<div style = "margin-left: 20%; margin-right: 20%; text-align: left;">

{{ content }}

</div>


{% include footer.html %}
</body>
